
.checkbox-image{
  input[type="checkbox"]{
    //display:none;
  }

  label{
    display:block;
  }

  input[type="checkbox"]+label{
    img{
      opacity: 0.2;
    }
  }

  input[type="checkbox"]:checked+label{
    img{
      opacity: 1;
    }
  }

}
