$main-text: #ffffff;

$button-color-accent: #B17C3F;
$button-color: #2571B1;

$team-color-blue: #35B5F4;
$team-color-red: #C21730;
$team-color-neutral: #ffffff;

$box-color-light: #CBCBCB;

$bg-color:#1D2F46;
$bg-color2:#26334b;
$bg-color3:#46597c;