@import "./colors.scss";
html{
  font-family: 'Hind', sans-serif;
  font-size:20px;

  background-color: $bg-color;
}

@import "./ow-button.scss";
@import "./ow-team-slot.scss";
@import "./ow-text-input.scss";
@import "./ow-label.scss";
@import "./checkbox-image.scss";
@import "./ow-role-select.scss";
@import "./ow-platform-select.scss";
@import "./ow-rank-select.scss";
@import "./ow-region-select.scss";
@import "./ow-game-form.scss";
@import "./ow-game-search-form";
@import "./ow-time-select";
