.ow-role-select{
  .list-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ow-label{
    margin-bottom:0em;
  }
  hr{
    margin-top:0em;
  }
}