.ow-text-input{
  display:flex;
  flex-direction: column;
  justify-content: center;

  text-align:center;
  margin:0.75em;

  label{
    display:block;
    color: $main-text;
    font-size: 0.8em;
  }
  input{
    display:block;
    background-color: $box-color-light;
    border: 2px solid white;
    border-radius: 10px;

    padding: 0.75em 1em;
    text-align:center;
    font-size: 1em;
  }
}