.ow-time-select{

  .ow-label{
    margin-bottom:0em
  }
  hr{
    margin-top:0em;
  }
  .ow-button{
    width:40%;
  }

  .time-styles{
    display:flex;
    flex-direction:horizontal;
    flex-wrap:wrap;
  }
}